# .NET build artifacts
**/bin/
**/obj/
*.dll
*.pdb

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider and VS Code
.idea/
.vscode/
*.sln.iml
*.DotSettings.user

# ASP.NET configs
**/appsettings.json
**/appsettings.*.json
*.secrets.json
.env
.env.*

# Logs, temp and cache
*.log
*.tmp
*.cache
*.bak
*.swp

# NuGet and build system
.nuget/
*.nupkg
*.snupkg
*.csproj.nuget.dgspec.json
*.csproj.FileListAbsolute.txt
*.csproj.AssemblyReference.cache
